<%= form_tag search_path, methode: :get do %>
<%= field_tag :search, params[:search] %>
<%= submit_tag "Search"%>
<% end %>

<%= if %>

Notes from class tell me form_tag goes here but that doesn't make sense to me.
Also thing something is missing in my controller.


<%= else %>
<p> You must type something to see place a search.</p>
